.content{
    width: 100%;
    background: #aaa;
    display: -webkit-flex;
    justify-content:center;
    flex-wrap: wrap; 
}
.content .goods{
    width: 250px;
    height: 300px;
    background: #666;
    margin: 15px;
    text-align: center;
    position: relative;
}
.content .goods .goodsPic{
    width: 250px;
    height: 218px;    
    background-position: center;
    background-repeat: no-repeat;
}
.content .goods .goodsName{
    font-size: 12px;
    color: #fff;
}
.content .goods .goodsPrice{
    position: absolute;
    bottom: 10px;
    right: 10px;

}