*{
    border: 0;
}
body{
    background: #CECACD;
}
#header{
    width: 100%;
    height: 150px;
    margin-top:68px; 
}
#header>#header_logo{
    width: 232px;
    height: 130px;
    margin: 10px 0 0 200px;
    float: left
}
#header>#header_logo >#logo_img{
    width: 160px;
    height:138px;
    float: left;
}
#header>#header_logo >p{
    width: 72px;
    height: 40px;
    margin-top: 60px;
    float: left;
    font-size: 24px;
}
/* #header>#search{

} */
#title{
    width: 1192px;
    height: 114px;
  
    margin: 0 auto;
}
#title>#title_top{
    width: 100%;
    height: 55px;
    border-bottom:2px solid #6D6C6C;
    font-size: 18px;
    line-height: 55px;
}
#title>#title_buttom{
    width: 100%;
    height: 55px;
}
#title>#title_buttom>#t_li1{
    float: left;
    margin-left: 192px; 
}
#title>#title_buttom>#t_li2{
    float: left;
    margin-left: 414px;
}
#title>#title_buttom>#t_li3{
    float: left;
    margin-left: 78px;
}

#title>#title_buttom>#t_li4{
    float: left;
    margin-left: 80px;
}
#title>#title_buttom>#t_li5{
    float: left;
    margin-left: 140px;
}
.sl{
    width: 1192px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid bisque;
}
#totalprices{
  
    width: 1192px;
    height: 80px;
    margin: 0 auto;
    background: gray;
}
#totalprices>p{
    width: 374px;
    height: 80px;
    float: right;
    line-height: 80px;

}
#totalprices>p>#p1{
    float: left;
}
#totalprices>p>#p2{
   float: left;
   margin-left:30px; 
}
#totalprices>p>#submitorder{
    width: 150px;
    height: 50px;
    line-height: 50px;
    float: right;
    margin: 15px 52px 0 0;
}
#tit{
    width: 1192px;
    height: 100%;
  
    margin: 0 auto;
}
.tit_ul{
    height: 150px;
    margin: 25px 0 25px 0;
    
    line-height: 150px;
    border: 1px solid black;
}
.tit_ul>li{
    float: left;
}
.tit_ul>.tit_li1{
  height: 100px;
  line-height: 100px;
  margin:20px 0 0 78px; 
}
.tit_ul>.tit_li1>img{
  width: 100px;
   height: 100px;
  float: left;
}
.tit_ul>.tit_li1>p{
    width: 440px;
    height: 100px;
    line-height: 100px;s
    float: left;
    margin-left:10px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tit_ul>.tit_li2{
   
    margin-left: 26px; 
    
  }
.tit_ul>.tit_li3{
  width: 72px;
    margin-left: 68px; 
    
  }
.tit_ul>.tit_li4{
    width: 94px;
      margin-left: 70px; 
      
    }
.tit_ul>.tit_li5{
        
          margin-left: 92px; 
}
.tit_ul>.tit_li6{
    width: 25px;
    height: 150px;
    margin-left:25px; 
}
#checkbox{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    margin-top: 65px; 
    position: relative;
}
#checkbox>#checkbox_img{
  position: absolute;
  left: 0;
  top: 0;
    display: none;
}